
# Temporary solution: Do not pay the cost of adding these to the git repository. TODO: Implement loading functionality.
# Download contents from https://botengine.blob.core.windows.net/blob-library/by-name/2019-05-15.6bfaa8487f464c79267b3faa07af8873f9bd33dbca00ac97b9bffeb1a8f1b277.Sanderling.zip
/lib/Sanderling/
